/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';

/* END: Imports */

/*-----------------  Desktops  -----------------*/
@media screen and (max-width:768px){

  .container{
    padding-right:  10px !important;
    padding-left:   10px !important;
    width: 85% !important;
  }

}
