/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';
@import 'responsive_styles';

/* END: Imports */



/**
 * =========================================
 * Global Styles
 * =========================================
 */
* {
    margin:0; padding:0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }

html{ overflow:scroll; }
body{ font-family: 'Asap', sans-serif; }

a{
     &:hover{
    }

}


p{ font-family: 'Asap', sans-serif; }

ul{ list-style:none; }

hr{  }

h1, h2, h3, h4, h5{
  font-family: 'Asap', sans-serif !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

::selection{ background: $dgrey; color: white; }

/* END: Global Styles */


/**
 * =========================================
 * Utility Classes
 * =========================================
 */

.clear{ clear: both; }
.left{ float:left; }
.right{ float:right; }

/* END: Utility Classes */


/**
 * =========================================
 * Elements
 * =========================================
 */



/* END: Elements */


/**
 * =========================================
 * Footer
 * =========================================
 */

.footer{

}

/* END: Footer */
